<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- meta -->
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- meta::facebook -->
    <meta property="og:image" content="">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <!-- meta::twitter -->
    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <!-- stylesheets::front-end framework -->
    <link href="/assets@admin/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- stylesheets::fonts -->
    <link href="/assets@admin/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- stylesheets::vendor -->
    <link href="/assets@admin/vendor/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/assets@admin/vendor/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/assets@admin/vendor/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="/assets@admin/vendor/animate/animate.css" rel="stylesheet">
    <!-- stylesheets::main -->
    <link href="/assets@admin/styles/main.min.css" rel="stylesheet">
    <!-- csrf meta tags -->
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">

        <%= render 'layouts/sidebar' %>

        <div id="page-wrapper" class="gray-bg">

            <%= render 'layouts/topnavbar' %>

            <%= yield %>

            <%= render 'layouts/footer' %>
        </div>
    </div>
    
    <!-- scripts::jquery -->
    <script src="/assets@admin/vendor/jquery/jquery-2.1.1.js"></script>
    <!-- scripts::front-end framework -->
    <script src="/assets@admin/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- scripts::vendor -->
    <script src="/assets@admin/vendor/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets@admin/vendor/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets@admin/vendor/dataTables/jquery.dataTables.js"></script>
    <script src="/assets@admin/vendor/dataTables/dataTables.bootstrap.js"></script>
    <script src="/assets@admin/vendor/dataTables/dataTables.responsive.js"></script>
    <script src="/assets@admin/vendor/dataTables/dataTables.tableTools.min.js"></script>
    <!-- scripts::main -->
    <script src="/assets@admin/scripts/main.min.js"></script>
    <!-- scripts::rails -->
    <%= javascript_include_tag 'application' %>
    
    <%= yield :javascript %>
</body>
</html>
